<div class="detailed-container">
  <h2>Detailed View</h2>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div class="list-container">
    <mat-nav-list>
      <a mat-list-item
         *ngFor="let time of samplingTimes"
         [class.active]="selectedData?.SamplingTime === time"
         (click)="onSamplingTimeSelect(time)">
        {{ time | date:'medium' }}
      </a>
    </mat-nav-list>
  </div>

  <div class="form-container" *ngIf="selectedData">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngFor="let prop of selectedData.Properties">
        <ng-container *ngIf="getInputType(prop.Value) !== 'checkbox'">
          <mat-form-field>
            <mat-label>{{ prop.Label }}</mat-label>
            <input matInput
                   [type]="getInputType(prop.Value)"
                   [formControlName]="prop.Label">
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="getInputType(prop.Value) === 'checkbox'">
          <mat-checkbox [formControlName]="prop.Label">
            {{ prop.Label }}
          </mat-checkbox>
        </ng-container>
      </div>

      <div class="button-container">
        <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!form.valid || isSubmitting">
          {{ isSubmitting ? 'Saving...' : 'Save Changes' }}
        </button>
        <button mat-button
                type="button"
                [disabled]="isSubmitting"
                routerLink="/">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
