<div class="detailed-container">
  <!-- Left: Sampling Times -->
  <mat-nav-list class="sampling-list">
    <mat-list-item *ngFor="let time of samplingTimes" (click)="onSamplingTimeSelect(time)"
    [class.selected]="time === selectedSamplingTime">
      {{ time | date: 'dd-MM-yyyy hh:mm:ss a'}}
    </mat-list-item>
  </mat-nav-list>

  <!-- Right: Dynamic Form -->
  <div class="form-container" *ngIf="selectedData">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngFor="let property of selectedData?.Properties">
        <mat-form-field *ngIf="getInputType(property.Value) !== 'checkbox'" appearance="fill">
          <mat-label>{{ property.Label }}</mat-label>
          <input matInput [type]="getInputType(property.Value)" [formControlName]="property.Label" />
        </mat-form-field>

        <mat-checkbox *ngIf="getInputType(property.Value) === 'checkbox'" [formControlName]="property.Label">
          {{ property.Label }}
        </mat-checkbox>
      </div>

      <button mat-raised-button color="primary" type="submit">Save</button>
    </form>
  </div>
</div>
